<main class="cart">
	<% for (let Item of product) { %>
	<div class="divCenter oneProduct">
		<div class="productMain">
			<div class="productImg flex6 divCenter">
				<img class="imgSize" src="<%= Item.pictureSeat1 %>">
			</div>
			<div class="product flex7">
				<div class="productName textBlod"><%= Item.productName %></div>
				<div class="productPrice"><%= Item.productPrice %></div>
			</div>
			<div class="flex8">
				<div class="minusButton divCenter"><input type="button" value="-"></div>
				<div class="productAmount"><%= Item.productNUM %></div>
				<div class="plusButton divCenter"><input type="button" value="+"></div>
			</div>
			<div class="flex9 divCenter"><%= Item.productPrice * Item.productNUM %></div>
			<div class="flex10 divCenter"><a class="deleteButton"><i class="icofont-ui-close"></i></a></div>
		</div>
	</div>
	<% } %>
	<div class="button">
		<a href="flipCard"><button class="checkoutButton btn">前往結帳</button></a>
		<br>
		<a href="/"><button class="refuseButton btn">下次再買</button></a>
	</div>
</main>