<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/product.css">
    <title>產品介紹</title>
</head>

<body>

    <% for (var Item of result) { %>
        <div>
            <%= Item.productName %>
        </div>

        <div>
            <img src=" <%= Item.pictureSeat1 %>  " alt="">
        </div>

        <div>
            <a href="/shopp">家到購物車</a>
        </div>

        <div>說明：</div>

        <div>
            <img src=" <%= Item.pictureSeat2 %>  " alt="">
        </div>

        <div>說明：</div>

        <div>
            <img src=" <%= Item.pictureSeat3 %>  " alt="">
        </div>

        <div>說明：</div>

        <div>
            <img src=" <%= Item.pictureSeat4 %>  " alt="">
        </div>

        <div>說明：</div>

        <div>
            <img src=" <%= Item.pictureSeat5 %>  " alt="">
        </div>

        <% } %>



</body>

</html>